
#btnSearch, #search {
   height: 35px;
   margin-bottom: 20px;
}

#label {
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 15px;
}

#search, #city-list {
    margin-left: 15px;
}


#futureForecast {
    margin-right: 15px;
    margin-left: 15px;
}

#fiveDayForecast {
    height: 50px;
    margin-left: 15px;
}

.futureCol {
    height: 100px;
}